.authentication {
    background-color: rgb(34, 37, 41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.authentication input[type="text"] {
    width: 300px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.authentication input[type="password"] {
    width: 300px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.authentication button {
    width: 300px;
    color: rgb(255, 255, 255);
    background: rgb(62, 93, 109);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.authentication button:hover {
    color: rgb(255, 255, 255);
    background: rgb(62, 93, 109);
}