.navbar {
    z-index: 3;
    width: 100vw;
    height: 50px;
    position: fixed;
    background: rgb(0, 0, 0);
}

.navbar .header button {
    border: none;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
}