.overlay {
    position: fixed;
    cursor: pointer;
    display: none;
    z-index: 2;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}